<form action="https://formspree.io/f/mzzreevn" method="POST">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <input required type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <input required type="email" class="form-control" id="email" name="email" placeholder="E-mail">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <input required type="tel" class="form-control" id="telephone" name="telephone" placeholder="Téléphone">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <textarea required name="message" class="form-control" rows="5" placeholder="Message"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br><br>
      <button type="submit" class="btn button">Envoyer</button>
    </div>
  </div>
</form>