<div class="pre-devis">
  <form action="https://formspree.io/f/mqaqpplj" method="POST">
    <div class="row pad1">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Nom*</label>
          <input required type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>E-mail*</label>
          <input required type="email" class="form-control" id="email" name="email" placeholder="Votre email">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Téléphone*</label>
          <input required type="tel" class="form-control" id="telephone" name="telephone" placeholder="Votre téléphone">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Code postal*</label>
          <input required type="text" class="form-control" id="code_postal" name="code_postal" placeholder="Code postal">
        </div>
      </div>

      <div class="col-sm-8">
        <label>Surface*</label>
        <div class="form-group">
          <select required name="surface" class="form-control">
            <option value="">Sélectionnez une surface</option>
            <option value="5 m²">5 m²</option>
            <option value="10 m²">10 m²</option>
            <option value="15 m²">15 m²</option>
            <option value="20 m²">20 m²</option>
            <option value="25 m²">25 m²</option>
            <option value="30 m²">30 m²</option>
          </select>
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <button type="submit" class="button">Votre estimation</button>
      </div>
    </div>
  </form>
</div>